<!doctype html>
<html>
  <head></head>
  <body>
    
    <div id="root">
      {{{ html }}}
    </div>

    {{#if clientScript}}
    <script src="{{ clientScript }}" type="text/javascript"></script>
    {{/if}}

  </body>
</html>